<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asayaporn.pichet.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/log2"
        android:label="Health Aid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="Health Aid"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Health Aid"
            android:windowSoftInputMode="stateHidden"

           >
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".showinfoAct"
            android:screenOrientation="portrait" />
        <activity android:name=".infoAct"
            android:screenOrientation="portrait" />


    </application>

</manifest>